<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="" name="description">
<meta content="" name="author">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<!-- Viewport metatags -->
<meta content="true" name="HandheldFriendly">
<meta content="320" name="MobileOptimized">
<meta content=
    "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    name="viewport">
<!-- iOS webapp metatags -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!-- iOS webapp icons -->
<link href="assets/images/ios/fickle-logo-72.png" rel=
    "apple-touch-icon-precomposed">
<link href="assets/images/ios/fickle-logo-72.png" rel=
    "apple-touch-icon-precomposed" sizes="72x72">
<link href="assets/images/ios/fickle-logo-114.png" rel=
    "apple-touch-icon-precomposed" sizes="114x114">
<!-- TODO: Add a favicon -->
<link href="assets/images/ico/fab.ico" rel="shortcut icon">
<title>Amaha - Create New Board</title>
<!--Page loading plugin Start -->
<script src="assets/js/pace.min.js"></script><!--Page loading plugin End   -->
<!-- Plugin Css Put Here -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/plugins/jquery.remodal.css">
<link rel="stylesheet" href="assets/css/plugins/dndTable.css">
<link rel="stylesheet" href="assets/css/plugins/tsort.css">
  <link rel="stylesheet" href="assets/css/plugins/selectize.bootstrap3.css">
  <link href="assets/css/plugins/jquery.datetimepicker.css" rel="stylesheet">

<!-- Plugin Css End -->


<!-- Plugin Css Put Here -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/plugins/custom_smart_wizard.css">

<!-- Custom styles Style -->
<link href="assets/css/style.css" rel="stylesheet">
<!-- Custom styles Style End-->
<!-- Responsive Style For-->
<link href="assets/css/responsive.css" rel="stylesheet">
<!-- Responsive Style For-->
<!-- Custom styles for this template -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
<!--Navigation Top Bar Start-->

<nav class="navigation">
  <div class="container-fluid"> 
    <!--Logo text start-->
    
    <div class="header-logo"> <a href="admin-dashboard.html" title="">
      <h1>Amaha</h1>
      </a> </div>
    <!--Logo text End-->
    
    <div class="top-navigation"> 
      <!--Collapse navigation menu icon start -->
      
      <div class="menu-control hidden-xs"> <a class="fa fa-bars" href="javascript:void(0)"></a> </div>
      <div class="search-box">
        <ul>
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span class="fa fa-search"></span></a>
            <div class="dropdown-menu top-dropDown-1">
              <h4>Search</h4>
              <form>
                <input placeholder="what you want to search ?" type="search">
              </form>
            </div>
          </li>
        </ul>
      </div>
      <!--Collapse navigation menu icon end --> 
      <!--Top Navigation Start-->
      
      <ul>
        <li class="dropdown"> 
          <!--Notification drop down start--> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span class="fa fa-bell-o"></span> <span class="badge badge-red">6</span></a>
          <div class="dropdown-menu right top-notification">
            <h4>Recently Published Posts</h4>
            <ul class="ls-feed">
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Please keep account of OT <span class="date">Just now</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Safety Instructions Updated <span class="date">30 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> New opportunities with amara <span class="date">45 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Important instructions <span class="date">50 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Server hardware upgraded <span class="date">1 hr</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> IPO Report for <span class="lightGreen">2014</span> <span class="date">5 hrs</span></a> </li>
              <li class="only-link"> <a href="javascript:void(0)">View All</a> </li>
            </ul>
          </div>
          <!--Notification drop down end--> 
        </li>
        <li class="dropdown"> 
          <!--user account start--> 
          <a class="dropdown-toggle" data-toggle="dropdown" href=
                        "javascript:void(0)"><span class=
                        "fa fa-user"></span></a> <!--user account--> 
        </li>
        <li class="hidden-xs"> <a class="right-sidebar-setting fa fa-cogs" href=
                        "javascript:void(0)"></a> </li>
        <li> <a class="fa fa-lock" href="#"></a> </li>
        <li> <a class="fa fa-power-off" href="login.html"></a> </li>
      </ul>
      <!--Top Navigation End--> 
    </div>
  </div>
</nav>
<!--Navigation Top Bar End-->

<section id="main-container"> 
  <!--Left navigation section start-->
  
  <section id="left-navigation"> 
    <!--Left navigation user details start-->
    
    <div class="user-image"><img alt="" src=
            "assets/images/demo/avatar-80.png"></div>
    <ul class="social-icon">
      <li> <a class="fa fa-facebook" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-twitter" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-linkedin" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-google-plus" href="javascript:void(0)"
                    ></a> </li>
    </ul>
    <!--Left navigation user details end--> 
    <!--Phone Navigation Menu icon start-->
    
    <div class="phone-nav-box visible-xs"> <a class="phone-logo" href="index.html" title="">
      <h1>Amaha</h1>
      </a> <a class="phone-nav-control" href=
                "javascript:void(0)"><span class="fa fa-bars"></span></a>
      <div class="clearfix"></div>
    </div>
    <!--Phone Navigation Menu icon start--> 
    <!--Left navigation start-->
    
    <ul class="mainNav">
      <li class="active"> <a class="active" href="admin-dashboard.html"><i class=
                    "fa fa-dashboard"></i> <span>Dashboard</span></a> </li>
      <li> <a href="#"><i class="fa fa-user"></i> <span>My
        Profile</span></a>
        <ul>
          <li> <a href="#">View Profile</a> </li>
          <li> <a href="#">Edit Profile</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-group"></i> <span>Users</span> <span class="badge badge-red">58</span></a>
        <ul>
          <li> <a href="#">All Users</a> </li>
          <li> <a href="#">Add Users</a> </li>
          <li> <a href="#">Edit/Delete Users</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-group"></i> <span>Clients</span> <span class="badge badge-red">18</span></a>
        <ul>
          <li> <a href="#">All Clients</a> </li>
          <li> <a href="#">Add Clients</a> </li>
          <li> <a href="#">Edit/Delete Clients</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-building"></i> <span>Work Sites <span class="badge badge-red">15</span></span></a>
        <ul>
          <li> <a href="#">View Work Sites</a> </li>
          <li> <a href="#">Add New Sites</a> </li>
          <li> <a href="#">Edit/Delete Sites</a> </li>
        </ul>
      </li>
       <li> <a href="#"><i class="fa fa-file-o"></i> <span>Work Reports <span class="badge badge-red">114</span></span></a>
        <ul>
          <li> <a href="#">View Work Reports</a> </li>
          <li> <a href="#">Add New Work Report</a> </li>
          <li> <a href="#">Edit/Delete Work Report</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-file"></i> <span>Posts</span></a>
        <ul>
          <li> <a href="#">Add New Post</a> </li>
          <li> <a href="#">View All Posts</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-clock-o"></i> <span>TimeLine
        View</span></a> </li>
      <li> <a href="#"><i class="fa fa-copy"></i> <span>Repositories</span></a> </li>
      <li> <a href="#"><i class="fa fa-file-text"></i> <span>Forms</span></a> </li>
      <li> <a href="#"><i class="fa fa-file-o"></i> <span>Magnet Board <span class="badge badge-red">114</span></span></a>
        <ul>
          <li> <a href="#">View Boards</a> </li>
          <li> <a href="#">Add New Board</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-calendar-o"></i> <span>Calender</span></a> </li>
      <li> <a href="#"><i class="fa fa-gears"></i> <span>Settings</span></a> </li>
      <li> <a href="#"><i class="fa fa-flag-o"></i> <span>Policies/Update</span> <span class=
                    "badge badge-red">15</span></a>
        <ul>
          <li> <a href="#">View All</a> </li>
          <li> <a href="#">Add New Policy Update</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-flash"></i> <span>Safety
        Instructions</span></a> </li>
      <li> <a href="#"><i class="fa fa-random"></i> <span>Organizational Chart</span></a> </li>
      <li> <a href="#"><i class="fa fa-list-alt"></i> <span>Documentation</span></a> </li>
      <li> <a href="#"><i class="fa fa-power-off"></i> <span>Logout</span></a> </li>
    </ul>
    <!--Left navigation end--> 
  </section>
  <!--Left navigation section end--> 
  <!--Page main section start-->
  
  <section id="min-wrapper">
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12"> 
            <!--Top header start-->
            
            <h3 class="ls-top-header">Create New Board</h3>
            <!--Top header end --> 
            <!--Top breadcrumb start -->
            
            <ol class="breadcrumb">
              <li> <a class="fa fa-home" href="#"></a> </li>
              <li class="active">Create New Board</li>
            </ol>
            <!--Top breadcrumb start --> 
          </div>
        </div>
        <!-- Main Content Element  Start-->
        
        <div class="row">
          <div class="col-md-12">
           <div class="panel-body"> 
                <!--form Wrapper Start-->
                  <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Allocate users to different work sites in this section.</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="formID" class="formular form-horizontal ls_form" method="post" action="">
                                            <div id="verticalWizard" class="swMainVertical">
                                            <ul>
                                                <li>
                                                    <a href="#step-1">
                                                        <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                            Step 1<br/>
                                                            <small>select the client</small>

                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-2">
                                                        <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                            Step 2<br/>
                                                            <small>select worksites</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-3">
                                                        <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                            Step 3<br/>
                                                            <small>Allocate the Users</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                            <div id="step-1">
                                                <h2 class="StepTitle">Select The Client & Date You Want To Create Board For</h2>
                                                <p>Please select the client for which you want to create the board for, based upon this selection the worksites will be made available in the next section.</p>

                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="form-group col-md-4">
                                                          <label><i class="fa fa-user"></i> Client</label>
                                                          <select id="select-client" class="demo-default" placeholder="Select Client...">
                                                          <option value="">Select A Client...</option>
                                                          <option value="AF">Client One</option>
                                                          <option value="AX">Client Two</option>
                                                          <option value="AL">Client Three</option>
                                                          </select>
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                          <div class="form-group">
                                                          <label><i class="fa fa-calendar marginl25"></i> Date</label>
                                                          <input class=
                                                              "form-control datePickerOnly marginl25"
                                                                type="text">
                                                          </div>
                                                        </div>

                                                    </div>

                                        

                                                </div>
                                            </div>
                                            <div id="step-2">
                                                <h2 class="StepTitle">Select Worksites</h2>
                                                <p>Select form the worksites that are registered under selected client in step one.</p>

                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="form-group col-md-4">
                                                          <label><i class="fa fa-user"></i> Worksite</label>
                                                          <select id="select-worksite" class="demo-default" placeholder="Select worksite...">
                                                          <option value="">Select A Worksite...</option><!--these worksite options should autopopulate from the client selected-->
                                                          <option value="AF">Worksite One</option>
                                                          <option value="AX">Worksite Two</option>
                                                          <option value="AL">Worksite Three</option>
                                                          </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="step-3">
                

                                                <div class="container-fluid">
                                                     <div class="panel panel-default userform no-border"><!--time logging panel starts here -->
                                                      <div class="panel-heading ">
                                                          <h3 class="panel-title">Select Users & Shift Time</h3>
                                                      </div>
                                                      <!--section 1 starts here-->
                                        <div class="col-md-12">
                                            <div id="entry1" class="clonedInput row"><!--clonedinput starts-->
                                                <fieldset class="col-md-6 col-md-6"><!--entry 1-->
                                                    
                                                    <select id="select-labor" class="demo-default" placeholder="Select Labor...">
                                                        <option value="">Select User...</option>
                                                            <option value="AF">Sudhir Yadav</option>
                                                            <option value="AX">Kunal Sukhija</option>
                                                            <option value="AL">Ivan Pavlov</option>
                                                            <option value="DZ">Temperley Hammer</option>
                                                            <option value="AS">Nikki Samoa</option>
                                                            <option value="AD">Andorra Andrea</option>
                                                            <option value="AO">Roughe Ruth</option>
                                                            <option value="AI">Angeline Burk</option>
                                                            <option value="AQ">Imam Michael</option>
                                                    </select>
                                                </fieldset><!--entry 1 ends-->

                                                <fieldset class="col-md-2 col-md-6"><!--entry 3-->
 
                                                  <input class="form-control" type="text" value="10 : 00"/>
                                                </fieldset><!--entry 3 ends-->

                                                <div class="col-md-1"><span class="seper">To</span></div>

                                                
                                                <fieldset class="col-md-2 col-md-6"><!--entry 3-->
                                                  <input class="form-control" type="text" value="18 : 00"/>
                                                 
                                                </fieldset><!--entry 3 ends-->


                                                <fieldset class="col-md-10">
                                                </fieldset>
                                           </div><!-- cloned input ends -->
                                          <div id="addDelButtons" class="margint15 col-md-6">
                                            <input type="button" id="btnAdd" value="add section" class="btn ls-light-green-btn"> 
                                            <input type="button" id="btnDel" value="remove section above" class="btn ls-red-btn">
                                          </div>
                                        </div>
                                        <!--section ends here-->
                                
                                                      <div class="panel-body">
                                    

                                        

                                </div><!--panel ends here-->
                            </div><!--time logging ends here-->

                                                   
                                                </div>
                                            </div>
                                       
                                            </div>
                                            <!-- End SmartWizard Content -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--form Wrapper Finish--> 
              </div>
          </div>
        </div>
      </div>
      <!-- Main Content Element  End--> 
    </div>
  </section>
  
  <!--Page main section end --> 
  <!--Right hidden  section start-->
  
  <section id="right-wrapper"> 
    <!--Right hidden  section close icon start-->
    
    <div class="close-right-wrapper"> <a class="fa fa-times" href="javascript:void(0)"></a> </div>
    <!--Right hidden  section close icon end--> 
    <!--Tab navigation start-->
    
    <!--Tab navigation end --> 
    <!--Tab content start-->
    
  
      </div>
   
    </div>
    <!--Tab content --> 
  </section>
  <!--Right hidden  section end --> 
</section>



<!--Layout Script start --> 

<script type="text/javascript" src="assets/js/lib/jquery-1.11.min.js"></script> 
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/multipleAccordion.js"></script> 
 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> 
<!--jqueryui for table end--> 


<!--easing Library Script Start --> 
<script src="assets/js/lib/jquery.easing.js"></script> 
<!--easing Library Script End --> 


<!--Select & Tag demo start-->
<script src="assets/js/pages/selectTag.js"></script>
<!--Select & Tag demo end-->

<!--selectize Library start-->
<script src="assets/js/selectize.min.js"></script>
<!--selectize Library End-->

<!--bootstrap switch Button Script Start--> 
<script src="assets/js/bootstrap-switch.js"></script> 
<!--bootstrap switch Button Script End--> 

<script type="text/javascript" src="assets/js/pages/layout.js"></script> 
<!--Layout Script End --> 

<!--Editable-table Start--> 
<script src="assets/js/editable-table/jquery.dataTables.js"></script> 
<script src="assets/js/editable-table/jquery.validate.js"></script> 
<script src="assets/js/editable-table/jquery.jeditable.js"></script> 
<script src="assets/js/editable-table/jquery.dataTables.editable.js"></script> 

<!--Editable-table Finish --> 

<!--jqueryui for table start--> 

 <!--Form Wizard CSS Start-->
    <script src="assets/js/jquery.smartWizard.js"></script>
    <!--Form Wizard CSS End-->

    <!--Demo Wizard Script Start-->
    <script src="assets/js/pages/formWizard.js"></script>
    <!--Demo Wizard Script End-->
<script src="assets/js/jquery.datetimepicker.js"></script> <!-- Date & Time Picker Library Script End -->
<script src="assets/js/pages/pickerTool.js"></script> <!--Demo for Date, Time Color Picker Script End -->
<script src="assets/js/pages/addfieldset.js"></script><!--for adding fields-->


</body>
</html>