<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="" name="description">
<meta content="" name="author">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<!-- Viewport metatags -->
<meta content="true" name="HandheldFriendly">
<meta content="320" name="MobileOptimized">
<meta content=
    "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    name="viewport">
<!-- iOS webapp metatags -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<!-- iOS webapp icons -->
<link href="assets/images/ios/fickle-logo-72.png" rel=
    "apple-touch-icon-precomposed">
<link href="assets/images/ios/fickle-logo-72.png" rel=
    "apple-touch-icon-precomposed" sizes="72x72">
<link href="assets/images/ios/fickle-logo-114.png" rel=
    "apple-touch-icon-precomposed" sizes="114x114">
<!-- TODO: Add a favicon -->
<link href="assets/images/ico/fab.ico" rel="shortcut icon">
<title>Amaha - View All Clients</title>
<!--Page loading plugin Start -->
<script src="assets/js/pace.min.js"></script><!--Page loading plugin End   -->
<!-- Plugin Css Put Here -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/plugins/jquery.remodal.css">
<link rel="stylesheet" href="assets/css/plugins/dndTable.css">
<link rel="stylesheet" href="assets/css/plugins/tsort.css">

<!-- Plugin Css End -->
<!-- Custom styles Style -->
<link href="assets/css/style.css" rel="stylesheet">
<!-- Custom styles Style End-->
<!-- Responsive Style For-->
<link href="assets/css/responsive.css" rel="stylesheet">
<!-- Responsive Style For-->
<!-- Custom styles for this template -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
<!--Navigation Top Bar Start-->

<nav class="navigation">
  <div class="container-fluid"> 
    <!--Logo text start-->
    
    <div class="header-logo"> <a href="admin-dashboard.html" title="">
      <h1>Amaha</h1>
      </a> </div>
    <!--Logo text End-->
    
    <div class="top-navigation"> 
      <!--Collapse navigation menu icon start -->
      
      <div class="menu-control hidden-xs"> <a class="fa fa-bars" href="javascript:void(0)"></a> </div>
      <div class="search-box">
        <ul>
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span class="fa fa-search"></span></a>
            <div class="dropdown-menu top-dropDown-1">
              <h4>Search</h4>
              <form>
                <input placeholder="what you want to search ?" type="search">
              </form>
            </div>
          </li>
        </ul>
      </div>
      <!--Collapse navigation menu icon end --> 
      <!--Top Navigation Start-->
      
      <ul>
        <li class="dropdown"> 
          <!--Notification drop down start--> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span class="fa fa-bell-o"></span> <span class="badge badge-red">6</span></a>
          <div class="dropdown-menu right top-notification">
            <h4>Recently Published Posts</h4>
            <ul class="ls-feed">
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Please keep account of OT <span class="date">Just now</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Safety Instructions Updated <span class="date">30 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> New opportunities with amara <span class="date">45 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Important instructions <span class="date">50 min</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> Server hardware upgraded <span class="date">1 hr</span></a> </li>
              <li> <a href="javascript:void(0)"><span class="label label-red fa fa-check white" style="font-style: italic"></span> IPO Report for <span class="lightGreen">2014</span> <span class="date">5 hrs</span></a> </li>
              <li class="only-link"> <a href="javascript:void(0)">View All</a> </li>
            </ul>
          </div>
          <!--Notification drop down end--> 
        </li>
        <li class="dropdown"> 
          <!--user account start--> 
          <a class="dropdown-toggle" data-toggle="dropdown" href=
                        "javascript:void(0)"><span class=
                        "fa fa-user"></span></a> <!--user account--> 
        </li>
        <li class="hidden-xs"> <a class="right-sidebar-setting fa fa-cogs" href=
                        "javascript:void(0)"></a> </li>
        <li> <a class="fa fa-lock" href="#"></a> </li>
        <li> <a class="fa fa-power-off" href="login.html"></a> </li>
      </ul>
      <!--Top Navigation End--> 
    </div>
  </div>
</nav>
<!--Navigation Top Bar End-->

<section id="main-container"> 
  <!--Left navigation section start-->
  
  <section id="left-navigation"> 
    <!--Left navigation user details start-->
    
    <div class="user-image"><img alt="" src=
            "assets/images/demo/avatar-80.png"></div>
    <ul class="social-icon">
      <li> <a class="fa fa-facebook" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-twitter" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-linkedin" href="javascript:void(0)"></a> </li>
      <li> <a class="fa fa-google-plus" href="javascript:void(0)"
                    ></a> </li>
    </ul>
    <!--Left navigation user details end--> 
    <!--Phone Navigation Menu icon start-->
    
    <div class="phone-nav-box visible-xs"> <a class="phone-logo" href="index.html" title="">
      <h1>Amaha</h1>
      </a> <a class="phone-nav-control" href=
                "javascript:void(0)"><span class="fa fa-bars"></span></a>
      <div class="clearfix"></div>
    </div>
    <!--Phone Navigation Menu icon start--> 
    <!--Left navigation start-->
    
    <ul class="mainNav">
      <li class="active"> <a class="active" href="admin-dashboard.html"><i class=
                    "fa fa-dashboard"></i> <span>Dashboard</span></a> </li>
      <li> <a href="#"><i class="fa fa-user"></i> <span>My
        Profile</span></a>
        <ul>
          <li> <a href="#">View Profile</a> </li>
          <li> <a href="#">Edit Profile</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-group"></i> <span>Users</span> <span class="badge badge-red">58</span></a>
        <ul>
          <li> <a href="#">All Users</a> </li>
          <li> <a href="#">Add Users</a> </li>
          <li> <a href="#">Edit/Delete Users</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-group"></i> <span>Clients</span> <span class="badge badge-red">18</span></a>
        <ul>
          <li> <a href="#">All Clients</a> </li>
          <li> <a href="#">Add Clients</a> </li>
          <li> <a href="#">Edit/Delete Clients</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-building"></i> <span>Work Sites <span class="badge badge-red">15</span></span></a>
        <ul>
          <li> <a href="#">View Work Sites</a> </li>
          <li> <a href="#">Add New Sites</a> </li>
          <li> <a href="#">Edit/Delete Sites</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-file"></i> <span>Posts</span></a>
        <ul>
          <li> <a href="#">Add New Post</a> </li>
          <li> <a href="#">View All Posts</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-clock-o"></i> <span>TimeLine
        View</span></a> </li>
      <li> <a href="#"><i class="fa fa-copy"></i> <span>Repositories</span></a> </li>
      <li> <a href="#"><i class="fa fa-file-text"></i> <span>Forms</span></a> </li>
      <li> <a href="#"><i class="fa fa-magnet"></i> <span>Magnet
        Board</span></a> </li>
      <li> <a href="#"><i class="fa fa-calendar-o"></i> <span>Calender</span></a> </li>
      <li> <a href="#"><i class="fa fa-gears"></i> <span>Settings</span></a> </li>
      <li> <a href="#"><i class="fa fa-flag-o"></i> <span>Policies/Update</span> <span class=
                    "badge badge-red">15</span></a>
        <ul>
          <li> <a href="#">View All</a> </li>
          <li> <a href="#">Add New Policy Update</a> </li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-flash"></i> <span>Safety
        Instructions</span></a> </li>
      <li> <a href="#"><i class="fa fa-random"></i> <span>Organizational Chart</span></a> </li>
      <li> <a href="#"><i class="fa fa-list-alt"></i> <span>Documentation</span></a> </li>
      <li> <a href="#"><i class="fa fa-power-off"></i> <span>Logout</span></a> </li>
    </ul>
    <!--Left navigation end--> 
  </section>
  <!--Left navigation section end--> 
  <!--Page main section start-->
  
  <section id="min-wrapper">
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12"> 
            <!--Top header start-->
            
            <h3 class="ls-top-header">View All Clients</h3>
            <!--Top header end --> 
            <!--Top breadcrumb start -->
            
            <ol class="breadcrumb">
              <li> <a class="fa fa-home" href="#"></a> </li>
              <li class="active">View All Clients</li>
            </ol>
            <!--Top breadcrumb start --> 
          </div>
        </div>
        <!-- Main Content Element  Start-->
        
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default userform no-border">
              <div class="panel-heading">
                <h3 class="panel-title">View All Clients & Status</h3>
              </div>
              <div class="panel-body"> 
                <!--Table Wrapper Start-->
                <div class="ls-editable-table table-responsive ls-table">
                  <table class="table table-bordered table-striped table-bottomless" id="ls-editable-table">
                    <thead>
                      <tr>
                        <th class="id_emp">Client Id</th>
                        <th>Company Name</th>
                        <th>Client Name</th>
                        <th>Location</th>
                        <th>Created On</th>
                        <th class="text-center">View/Edit/Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>AMA-12-12322</td>
                        <td>SudhirYadav347</td>
                        <td>Sudhir Yadav</td>
                        <td>Foreman</td>
                        <td>14/01/2014</td>
                        <td class="text-center"><a href="#reModal">
                          <button class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                          </a> <a href="edit-profile.html">
                          <button class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                          </a> <a href="delete-users.html">
                          <button class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                          </a></td>
                      </tr>
                      <tr>
                        <td>AMA-12-12321</td>
                        <td>SudhirYadav347</td>
                        <td>Sudhir Yadav</td>
                        <td>Foreman</td>
                        <td>14/01/2014</td>
                        <td class="text-center"><a href="#reModal">
                          <button class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                          </a> <a href="edit-profile.html">
                          <button class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></button>
                          </a> <a href="delete-users.html">
                          <button class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                          </a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--Table Wrapper Finish--> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content Element  End--> 
    </div>
  </section>
  
  <!--Page main section end --> 
  <!--Right hidden  section start-->
  
  <section id="right-wrapper"> 
    <!--Right hidden  section close icon start-->
    
    <div class="close-right-wrapper"> <a class="fa fa-times" href="javascript:void(0)"></a> </div>
    <!--Right hidden  section close icon end--> 
    <!--Tab navigation start-->
    
    <ul class="nav nav-tabs" id="setting-tab">
      <li class="active"> <a data-toggle="tab" href="#chatTab"><i class="fa fa-comment-o"></i> Chat</a> </li>
      <li> <a data-toggle="tab" href="#settingTab"><i class="fa fa-cogs"></i> Setting</a> </li>
    </ul>
    <!--Tab navigation end --> 
    <!--Tab content start-->
    
    <div class="tab-content">
      <div class="tab-pane active" id="chatTab">
        <div class="nano">
          <div class="nano-content">
            <div class="chat-group chat-group-fav">
              <h3 class="ls-header">Favorites</h3>
              <a href="javascript:void(0)"><span class="user-status is-online"></span> Catherine J. Watkins <span class="badge badge-lightBlue">1</span></a> <a href="javascript:void(0)"><span class="user-status is-idle"></span> Fernando G. Olson</a> <a href="javascript:void(0)"><span class="user-status is-busy"></span> Susan J. Best</a> <a href="javascript:void(0)"><span class="user-status is-offline"></span> Brandon S. Young</a> </div>
            <div class="chat-group chat-group-coll">
              <h3 class="ls-header">Colleagues</h3>
              <a href="javascript:void(0)"><span class="user-status is-offline"></span> Brandon S. Young</a> <a href= "javascript:void(0)"><span class="user-status is-idle"></span> Fernando G. Olson</a> <a href="javascript:void(0)"><span class="user-status is-online"></span> Catherine J. Watkins <span class="badge badge-lightBlue">3</span></a> <a href="javascript:void(0)"><span class="user-status is-busy"></span> Susan J. Best</a> </div>
            <div class="chat-group chat-group-social">
              <h3 class="ls-header">Social</h3>
              <a href="javascript:void(0)"><span class="user-status is-online"></span> Catherine J. Watkins <span class="badge badge-lightBlue">5</span></a> <a href="javascript:void(0)"><span class="user-status is-busy"></span> Susan J. Best</a> </div>
          </div>
        </div>
        <div class="chat-box">
          <div class="chat-box-header">
            <h5><span class="user-status is-online"></span> Catherine J. Watkins</h5>
          </div>
          <div class="chat-box-content">
            <div class="nano nano-chat">
              <div class="nano-content">
                <ul>
                  <li> <span class="user">Catherine</span>
                    <p>Are you here?</p>
                    <span class="time">10:10</span> </li>
                  <li> <span class="user">Catherine</span>
                    <p>Whohoo!</p>
                    <span class="time">10:12</span> </li>
                  <li> <span class="user">Catherine</span>
                    <p>This message is
                      pre-queued.</p>
                    <span class="time">10:15</span> </li>
                  <li> <span class="user">Catherine</span>
                    <p>Do you like it?</p>
                    <span class="time">10:20</span> </li>
                  <li> <span class="user">Catherine</span>
                    <p>This message is
                      pre-queued.</p>
                    <span class="time">11:00</span> </li>
                  <li> <span class="user">Catherine</span>
                    <p>Hi, you there ?</p>
                    <span class="time">12:00</span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-write">
          <textarea class="form-control autogrow" placeholder="Type your message">
</textarea>
        </div>
      </div>
      <div class="tab-pane" id="settingTab">
        <div class="setting-box">
          <h3 class="ls-header">Account Setting</h3>
          <div class="setting-box-content">
            <ul>
              <li><span class="pull-left">Online status:</span>
                <input class="js-switch-red" type="checkbox">
              </li>
              <li><span class="pull-left">Show offline
                contact:</span>
                <input class="js-switch-light-blue" type="checkbox">
              </li>
              <li><span class="pull-left">Invisible
                mode:</span>
                <input checked class="js-switch" type="checkbox">
              </li>
              <li><span class="pull-left">Log all
                message:</span>
                <input checked class="js-switch-light-green" type="checkbox">
              </li>
            </ul>
          </div>
        </div>
        <div class="setting-box">
          <h3 class="ls-header">Maintenance</h3>
          <div class="setting-box-content">
            <div class="easy-pai-box"> <span class="easyPieChart" data-percent="90"><span class="easyPiePercent"></span></span> </div>
            <div class="easy-pai-box">
              <button class="btn btn-xs ls-red-btn js_update">Update
              Data</button>
            </div>
          </div>
        </div>
        <div class="setting-box">
          <h3 class="ls-header">Progress</h3>
          <div class="setting-box-content">
            <h5>File uploading</h5>
            <div class="progress">
              <div class="progress-bar ls-light-blue-progress six-sec-ease-in-out"> </div>
            </div>
            <h5>Plugin setup</h5>
            <div class="progress progress-striped active">
              <div class="progress-bar six-sec-ease-in-out ls-light-green-progress"> </div>
            </div>
            <h5>Post New Article</h5>
            <div class="progress progress-striped active">
              <div class="progress-bar ls-yellow-progress six-sec-ease-in-out"> </div>
            </div>
            <h5>Create New User</h5>
            <div class="progress progress-striped active">
              <div class="progress-bar ls-red-progress six-sec-ease-in-out"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Tab content --> 
  </section>
  <!--Right hidden  section end --> 
</section>

<!--modal start-->
<div class="remodal" data-remodal-id="reModal">
  <h3>View Client Profile</h3>
  <div class="row">
    <div class="col-md-12">
      <h2>Quantum Web Solutions</h2>
      <div class="col-md-6 details_left">
        
        <p>User Role : Client</p>
        <p>Client Id : AMA-454-324</p>
        <h2>Address</h2>
        <address>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        </address>
        <p>Phone (Office): (123) 456-7890</p>

        
      
      
     
     
        
      </div>
      <div class="col-md-6 details_left">
        <p>Account Created On: 10/10/2013</p>
                <p>Phone (mobile 1): (123) 456-7890</p>
        <p>Phone (mobile 2): (123) 456-7890</p>
        <p>Location : California</p>
        
        <p>Email: <a href="#">admin@amahaelectricals.com</a></p>
        <p>Last Edited By : John Doe (Admin)</p>
        
      </div>
    </div>
  </div>
  <br>
  <a class="remodal-cancel ls-red-btn btn" href="#">Close</a> <a class="remodal-confirm ls-light-green-btn btn" href="#">Edit Client Profile</a> </div>
<!--modal ends--> 

<!--Layout Script start --> 
<script type="text/javascript" src="assets/js/color.js"></script> 
<script type="text/javascript" src="assets/js/lib/jquery-1.11.min.js"></script> 
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/multipleAccordion.js"></script> 
<!--jqueryui for table start--> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> 
<!--jqueryui for table end--> 

<!--easing Library Script Start --> 
<script src="assets/js/lib/jquery.easing.js"></script> 
<!--easing Library Script End --> 

<!--Nano Scroll Script Start --> 
<script src="assets/js/jquery.nanoscroller.min.js"></script> 
<!--Nano Scroll Script End --> 

<!--switchery Script Start --> 
<script src="assets/js/switchery.min.js"></script> 
<!--switchery Script End --> 

<!--bootstrap switch Button Script Start--> 
<script src="assets/js/bootstrap-switch.js"></script> 
<!--bootstrap switch Button Script End--> 

<script type="text/javascript" src="assets/js/pages/layout.js"></script> 
<!--Layout Script End --> 

<!--Drag & Drop & Sort  table start--> 
<script src="assets/js/tsort.js"></script> 
<script src="assets/js/jquery.tablednd.js"></script> 
<script src="assets/js/jquery.dragtable.js"></script> 
<!--Drag & Drop & Sort table end--> 

<!--Editable-table Start--> 
<script src="assets/js/editable-table/jquery.dataTables.js"></script> 
<script src="assets/js/editable-table/jquery.validate.js"></script> 
<script src="assets/js/editable-table/jquery.jeditable.js"></script> 
<script src="assets/js/editable-table/jquery.dataTables.editable.js"></script> 
<!--Editable-table Finish --> 

<!--Demo table script start--> 
<script src="assets/js/pages/table.js"></script> 
<!--Demo table script end--> 

<!-- Remodal Js Start--> 
<script src="assets/js/jquery.remodal.js"></script> 
<!-- Remodal Js Finished-->

</body>
</html>